@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #222222;
}
li{
  list-style: none;
}

.navbar{
  height: 70px;
  border-bottom: 1px solid #ECECEC;
  box-shadow: 0px 2px 5px #ECECEC;
}
.navbar .container{
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menuItems{
  display: flex;
}
.items{
  font-weight: bold;
  margin-left: 50px;
}
