@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #15284B;
  min-height: 60px;
  color: #fff;
}
.logo{
  font-size: 25px;
}
